.login-success {
  position: relative;
}
.username {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  border-radius: 0px 40px 40px 69px / 3px 40px 40px 75px;
  padding: 4.9px;
  height: unset;
  color: black;
  font-size: 15px;
  cursor: pointer;
  padding-left: 20px;
  transition: all 0.5s;
  box-shadow: 0 3px 5px 2px rgba(0, 0, 0, 0.1);
  margin: 0 20px;
  &:hover {
    background: #09a6f3;
    color: white;
  }
}

.signup {
  display: none;
  position: absolute;
  top: 5.8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.4rem;
  width: 10rem;
  text-align: center;
  background-color: white;
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.781);
  border-radius: 0.5rem;
  padding: 0.5rem 0;
}
#check-logout {
  display: none;
}
#check-logout:checked ~ .signup {
  display: block;
}

.header__login_icon {
  font-size: 15px;
  color: white;
  background-color: #0096c7;
  padding: 10px;
  border-radius: 50%;
}
