.exam {
  &__title {
    padding: 20px 0;
    font-size: 25px;
  }
  &__detail-question {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    background-color: rgb(245, 245, 245);
    padding: 30px 20px;
    border-radius: 1rem;
    margin-bottom: 2rem; 
  }

}
.finish{
  text-align: center;
  .red{
    color: red;
  }
  .green{
    color:green;
  }
  &__title{
    font-size: 1.6rem;
  }
  &__content{
    display: flex;
    justify-content: center;
    &-box{
      width: 18rem;
      font-size: 1.6rem;
      background-color: #09a6f3;
      padding: 4rem 2rem;
      margin: 2rem;
      border-radius: 2rem;
      color: white;
    }
  }
}