.detail_question {
  padding: 20px;
  .question {
    border-bottom: none;
    padding: 0;
    margin-bottom: 2rem;
  }
  &__result {
    &_item {
      font-size: 15px;
      border: 1px solid rgba(177, 177, 177, 0.685);
      border-radius: 0.5rem;
      padding-left: 2rem;
      display: flex;
      align-items: center;
      transition: all .6s;
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      &:hover{
        background-color: #9dd5fb;

      }
      input {
        margin-right: 2rem;
        cursor: pointer;
      }
      label {
        cursor: pointer;
        width: 100%;
        padding: 2rem;
        transition: all .5s;
    
      }

    }
  }
  &__toolbars{
    background-color: #48CAE4;
    padding:10px;
    margin-top: 10px;


  }
  &__toolbar {
    border-radius: 0.5rem;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    &_item-1,
    &_item-2 {
      display: flex;
      align-items: center;
    }
    &_item-1 {
      .time {
        background-color: #E63946;
        color: white;
        padding: 0.4rem 1rem;
        border-radius: 5px;
      }
    }
    .check {
      display: flex;
      align-items: center;
      margin-left:10px;
      color: white;
      label,
      input {
        cursor: pointer;
        margin: 0 1rem 0 5px;
      }
    }

  }
  .list__answer {
    background-color: #00B4D8;
    width: 100%;
    margin-top: 1rem;
    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
    }
    &-title {
      font-size: 16px;
      color: white;
    }
    &-item {
      display: flex;
      flex-wrap: wrap;

      .box {
        font-size: 13px;
        cursor: pointer;
        width: 9.1%;
        text-align: center;
        padding: 5px 20px;
        display: inline-block;
        background-color: rgb(255, 255, 255);
        border-radius: 0.5rem;
        margin: 1%;
        transition: all 0.5s;
        &:hover {
          background-color: #EF476F;
        }
      }
      .review{
        background-color: #FFD166 !important;
        color: white;
      }
      .result{
        background-color: #06D6A0!important;
        color:  white;
      }
    }
  }
  .dots{
    cursor: pointer;
    display: flex;
    align-items: center;

    img{
      width: 30px;
      &:hover{
        opacity: .9;
      }
    }
  }
}


