.tutorial {
  box-sizing: border-box;
  width: 100%;
  margin: 3rem 0;
  background-color: #b7e4c7;
  border-radius: 1rem;
  border: 1px solid #74c69d;
  &__heading {
    text-align: center;
    font-size: 2.2rem;
    color: #40916c;
    padding: 2.8rem 0;
  }
  &__detail {
    padding: 3rem;
    &_item {
      display: flex;
      align-items: center;
      font-size: 1.5rem;
      padding: 2rem 0;
      &:not(:last-child) {
        border-bottom: 1px solid #40916c;
      }
      .one {
        margin-left: 1.7rem;
      }
    }
    &_icon {
      padding-right: 2rem;
    }
  }
  &__note {
    font-size: 1.5rem;
    padding: 3rem;

    h1 {
      color: #40916c;
    }
  }
}
